*.iws
.env
.env.*.php
.env.backup
.env.php
.env.production
.idea
.phpactor.json
.phpunit.result.cache
.rocketeer/
app/storage/
auth.json
bootstrap/compiled.php
Homestead.json
Homestead.yaml
node_modules/
npm-debug.log
public/hot
public/build
public/storage
storage/*.key
vendor/
yarn-error.log
