aiofiles==25.1.0
aiomysql==0.2.0
alembic==1.17.0
cryptography==46.0.2
fastapi==0.119.0
pip-tools==7.5.1
prometheus-fastapi-instrumentator==7.1.0
python-json-logger==4.0.0
strawberry-graphql==0.283.3
uvicorn==0.37.0
