aiofiles==25.1.0
aiomysql==0.2.0
alembic==1.17.0
cryptography==46.0.3
fastapi==0.119.1
pip-tools==7.5.1
prometheus-fastapi-instrumentator==7.1.0
python-json-logger==4.0.0
strawberry-graphql==0.284.1
uvicorn==0.38.0
