.projects-container {
  padding: 20px;
}

.projects-header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-header h2 {
  color: red;
}

.project-card {
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.project-header h3 {
  margin: 0;
  font-size: 20px;
  align-items: center;
  width: 100%;
}

.project-header .project-edit {
  width: 80%;
}

.project-dates-container {
  max-width: 220px;
}

.project-dates {
  display: flex;
  justify-content: space-between;
}

.date-label {
  text-align: left;
}

.date-value {
  text-align: right;
  white-space: nowrap;
}

span, app-project-edit {
  display: inline-block; /* Ensure span and app-project-edit behave inline */
}
