<div class="projects-container">
  <div class="projects-header">
    <h2>Projects List</h2>
    <ng-container *ngIf="showCreateForm">
      <app-project-create (projectCreated)="handleProjectCreated()"></app-project-create>
    </ng-container>
    <button (click)="toggleCreateProject()" class="create-button">{{ showCreateForm ? 'Cancel Create' : 'Create Project' }}</button>
  </div>

  <ng-container *ngIf="(projects$ | async) as projects; else noProjects">
    <ng-container *ngIf="projects.length > 0; else noProjects">
      <div *ngFor="let project of projects" class="project-card">
        <div class="project-header">
          <h3>#{{ project.id }}:
            <ng-container *ngIf="!project.isEditing">
              <span>{{ project.name }}</span>
            </ng-container>
            <ng-container *ngIf="project.isEditing">
              <app-project-edit *ngIf="project.isEditing" [project]="project"
                                (projectUpdated)="handleProjectUpdated(project)">
              </app-project-edit>
            </ng-container>
          </h3>
          <div class="actions">
            <button (click)="toggleTasksListView(project)" class="tasks-button">
              {{ project.isExpanded ? 'Hide&nbsp;Tasks' : 'Show&nbsp;Tasks' }}
            </button>
            <button (click)="toggleUpdateProject(project)" class="edit-button">
              {{ project.isEditing ? 'Cancel&nbsp;Edit' : 'Edit&nbsp;Project' }}
            </button>
            <button (click)="deleteProject(project.id)" class="delete-button">Delete&nbsp;Project</button>
          </div>
        </div>
        <div class="dates-container">
          <div class="date-container">
            <small class="date-label">Created:</small>
            <small class="date-value">{{ project.created_at | date:'yyyy-MM-dd HH:mm:ss':'UTC' }} UTC</small>
          </div>
          <div class="date-container">
            <small class="date-label">Updated:</small>
            <small class="date-value">{{ project.updated_at | date:'yyyy-MM-dd HH:mm:ss':'UTC' }} UTC</small>
          </div>
        </div>
        <div [ngClass]="{ 'hidden': !isDragging || (project.isExpanded && project.gotTasks) }" class="placeholder-drop"
             cdkDropList
             [id]="'o-' + project.id"
             [cdkDropListConnectedTo]="(connectedDropZones$ | async) || []"
             (cdkDropListDropped)="onProjectDrop({$event, project})">
          Drop tasks here to migrate to this project.
        </div>
        <div *ngIf="project.isExpanded">
          <app-task-list
            #taskListComponent
            [project]="project"
            [allConnectedDropLists]="(connectedDropZones$ | async) || []"
            (dragStartedEvent)="onDragStart()"
            (dragEndedEvent)="onDragEnd()">
          </app-task-list>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<!-- Fallback when there are no projects -->
<ng-template #noProjects>
  <div>No projects available, create one ...</div>
</ng-template>
